:host{
  padding-top: 25px;
  padding-left: 25px;
  display: flex;
  justify-content: center;
  align-items:center;
}
h3{
  text-shadow: 2px 3px 5px lightpink;
  color: #ff5e6c;
  margin: 7px;
}
.forma{
  padding-top: 25px;
  padding-left: 25px;
  display: flex;
  justify-content: center;
  align-items:center;
}
.form-control{
  background-color: beige;
  width:250px
}
.btnSrc{
  transition: 0.3s;
  font-size: 12px;
  color: #3D2B1F;
  background-color: #63bce5;
  border-color: blue;
  border-radius: 5px;
  width: 100px;
  height:50px;
  margin: 10px;
}
.btnDlt{
  transition: 0.3s;
  font-size: 12px;
  color: #3D2B1F;
  background-color: #ff5e6c;
  border-color: lightpink;
  border-radius: 5px;
  width: 100px;
  height:50px;
  margin: 10px;
}
.btnStr{
  transition: 0.3s;
  font-size: 12px;
  color: #3D2B1F;
  background-color: #4bac3f;
  border-color: forestgreen;
  border-radius: 5px;
  width: 100px;
  height:50px;
  margin: 10px;
}
.btnStp{
  transition: 0.3s;
  font-size: 12px;
  color: #3D2B1F;
  background-color: #f8a300;
  border-color: darkorange;
  border-radius: 5px;
  width: 100px;
  height:50px;
  margin: 10px;
}
.btnRst{
  transition: 0.3s;
  font-size: 12px;
  color: #3D2B1F;
  background-color: #f5b935;
  border-color: yellow;
  border-radius: 5px;
  width: 100px;
  height:50px;
  margin: 10px;
}
table{
  border: 1px solid #ff5e6c;
  border-color: #ff5e6c;
  color:#3D2B1F;}
th{
  padding: 5px;
  border: 1px solid #ff5e6c;
  border-color: #ff5e6c;
  text-shadow: 3px 4px 7px lightpink;
  color: #ff5e6c;
  font-size:20px;
}
td{
  padding: 5px;
  border: 1px solid #ff5e6c;
  border-color: #ff5e6c;
  color: #3D2B1F;
  font-size:18px;
}
tr{
  padding: 5px;
  border: 1px solid #ff5e6c;
  border-color: #ff5e6c;
  color: #3D2B1F;
  font-size:18px;
}
