<div class="container">
  <h3>Errors for user</h3>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Node ID</th>
      <th scope="col">Message</th>
      <th scope="col">Status</th>
      <th scope="col">Date</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let error of errors">
      <td>{{error.nodeId}}</td>
      <td>{{error.message}}</td>
      <td>{{error.status}}</td>
      <td>{{error.date}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="mess != ''">
  <label style="color: red"> {{ mess }} </label>
</div>

